h1{
    color:red
    }
h2{
    color:rgb(0, 255, 255)
    }
*{
    border:ridge
 }
 .header{
     color:green;
     background-color:mediumseagreen;
     display:flex;
     justify-content:space-between
 }
 .menu{
     color:magenta
 }
 .grid{
     display:flex;
     flex-wrap:wrap;
     justify-content: space-evenly
 }
 .footer{
    color:#FF4433;
    background-color:#00FF00; 
    display:flex;
    justify-content: space-evenly;
}
 body{
     background-color:#14627c
    }

       